

body {
    margin: 0;
    height: 100vh;

    background-color: #FCE6A8;

    padding: 4px;

    gap: 4px;
    box-sizing: border-box;

    display: grid;

    grid-template-columns: 0,3fr 0,8fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;


}